<div id="create">
	<h1 class="titulo center white">Gracias por comunicarte con nosotros</h1> <br>
	<p class="center white">En seguida nos pondremos en contacto contigo</p>
	<p class="center white"> - Pavos Gourmet</p>
</div>