/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require fullcalendar
 *= require owl.carousel
 *= require owl.theme
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";

@import url('https://fonts.googleapis.com/css?family=Courgette|Raleway');

$primary: #F3C655;
$secondary: #1E1D1D;
$light_grey: #F5F5F5;



body {
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}


.button {
  transition: background-color .15s linear;
  font-size: 15px;
  font-family: 'Courgette', cursive;
  min-width: 200px;
  padding: 9px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  margin-top: 25px;
  background-color: transparent;
}

.button_primary {
  color: white;
  background-color: $primary;
  font-size: 17px;
  border-color: $primary;
  &:hover {
    color: $primary;
    background-color: white;
    border: solid 1.2px $primary;
  }

  &:hover > a {
  color: white;
  text-decoration: none;
  background-color: $primary;
  }
}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}

.button_center {
  display: block;
  margin: 0 auto !important;
  margin-top: 2rem;
  text-align: center;
}

/*navbar*/

#navin {
	.navbar {
	background-color: $secondary !important;
	border-color: transparent !important;
  border-radius: 0;
	padding: 15px 5%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li > a {
    font-size: 14px;
    background-color: none;
    color: white !important;
}

.activo {
  border-bottom: solid 1px $primary;
  background-color: transparent !important;
}
}

.navbar-collapse {
  border: none;
}
/*end navbar*/


/*styles*/
p {
font-size: 14px;
font-weight: 300;
margin-top: 20px;
}

.center {
	text-align: center;
}

.white {
	color: white
}

.navbar {
	margin: 0px;
}

 #content {
  width: 100%;
  overflow: hidden;
}

.titulo {
  font-family: 'Courgette', cursive;
  font-size: 3em !important;
  span {
    color: $primary;
    font-family: 'Courgette', cursive;
  }
}

.titulo2 {
  margin-top: 10px;
  font-family: 'Courgette', cursive;
  font-size: 1.5em !important;
  span {
    color: $primary;
    font-family: 'Courgette', cursive;
  }
}

.right {
  text-align: right;
}

/*end styles*/




/*hero*/

.hero {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
		padding: 50px 40px;
}

#home {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.6)),    url(asset-path("cover_2.png"));
  height: 70vh;
  h1 {
    margin-top: 15%;
    font-size: 35px;
  }
}

#nosotros {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.6)),    url(asset-path("cover_3.png"));
  height: 40vh;
  h1 {
    margin-top: 10%;
    font-size: 35px;
  }
}

#contacto {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.6)),    url(asset-path("cover_4.png"));
  height: 50vh;
  h1 {
    margin-top: 10%;
    font-size: 35px;
  }
}

#eventos {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.6)),    url(asset-path("cover_5.png"));
  height: 50vh;
  h1 {
    margin-top: 10%;
    font-size: 35px;
  }
}

#productos2 {
  background:
    linear-gradient(to right, rgba(93, 93, 93, 0.5), rgba(0, 0, 0, 0.6)),    url(asset-path("cover_6.png"));
  height: 50vh;
  h1 {
    margin-top: 10%;
    font-size: 35px;
  }
}



#banner_1 {
  text-align: center;
}


/*forms*/

#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $primary, 0 3px 1px -2px$primary, 0 1px 5px 0 $primary;
  padding: 5%;
  border-radius: 0px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2 {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

.imgen {
  text-align: center;
}

input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  height: 25px;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 10px;
  background-color: white !important;
  padding-left: 10px;
  }

select {
  height: 25px;
  border:none;
  border:1.3px solid #dadada;
  margin-bottom: 10px;
  background-color: white !important;
  }

  textarea {
    height: 75px !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
  color: #555;
}
}


#logo {
  text-align: center;
  background-color: $secondary;
  padding-top: 30px;
}

#pavos {
  background-color: $secondary;
  padding: 80px 5%;
  text-align: center;
  h1 {
    font-size: 2em !important;
  }
  p {
    margin-bottom: 50px;
  }

  #cuatro {
    height: 150px;
    img {
      width: 65px;
    }
  }
}

#productos {
  padding: 80px 5%;
  text-align: center;
  h1 {
    font-size: 2em !important;
  }
  p {
    margin-bottom: 50px;
  }
}


#images {
  .col-md-2 {
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
  }
}

#footer {
  background-color: $secondary;
  padding: 60px 0;
  margin-top: 300px;
}

#footer_iz {
  li {
    display: inline;
    margin-right: 22px;
  }
  a {
    color: white;
    font-size: 20px;
  }
}

#footer_der {
  text-align: right;
  span {
    margin-right: 15px;
  }
}

#contact {
  margin-top: -520px;
}


#roll_izq {
  text-align: center;
  padding: 60px 5%;
  h3 {
    font-size: 2em !important;
  }
}

#roll_der {
  img {
    width: 100%;
  }
}

#lateral {
  margin-top: 80px;
}

#eventos2 {
  border-bottom: solid 1px $secondary;
  text-align: left;
  padding: 50px 0;

  h2 {
    font-family: Raleway-BoldItalic;
    font-size: 22px;
    color: #1E1D1D;
  }

  hr {
  border-color: $primary;
  border-width: 3px;
  max-width: 160px;
  margin-left: 0;
  }

  p {
    margin-bottom: 25px;
  }

  h5 {
    margin-bottom: 15px;
    font-size: 13px;
  }
  svg {
    margin-right: 10px;
  }
}

#evento_der {
  padding-right: 20px;
}

#evento_izq {
  img {
    width: 100%;
  }
}

#pavos {
  li {
    display: inline;
    margin: 0 15px;
    padding: 10px 15px;
    border: solid 1px white;
    a {
      color: white;
    }
  }
    .activo3{
      border: solid 1px $primary;
      a {
        color: $primary;
      }
    }
}

#productos_show {
  margin-top: 50px;
  text-align: center;
}

#productitis {
  margin-bottom: 50px;
  padding: 5%;
  border: solid 1px $secondary;
  height: 370px;
  img {
    width: 100%;
    margin-bottom: 10px;
    max-width: 370px;
  }
  h3 {
    /* Tarta de Fresas: */
font-family: Raleway-BoldItalic;
font-size: 19px;
color: #1E1D1D;
  }
  p {
    font-size: .8em;
  }
}

.img {
  img {
    width: 100%;
  }
}

#infor {
    hr {
  border-color: $primary;
  border-width: 3px;
  max-width: 160px;
  margin-left: 0;
  }
}

strong {
  font-weight: 900;
}


#tablon {
  margin: 80px 0;
  h1 {
    font-weight: 900;
    font-size: 1.5em;
  }
  th {
    font-weight: 900;
  }
}


/*Media*/

@media (max-width: 800px)
{

.hero {
background-attachment: unset;
}
}

@media (max-width: 991px)
{

#footer_der {
  text-align: left;
  margin-top: 40px;
}

#evento_der {
  margin-top: 30px;
}

#footer {
  margin-top: 170px;
}

#pavos {
  li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

}

#create {
  background-color: $secondary;
  padding: 200px 0;
}

@media (max-width: 767px)
{

#footer {
  margin-top: 0;
}

}

